/*
Breadcrumbs CSS guide followed: https://www.w3schools.com/howto/howto_css_breadcrumbs.asp
*/

ul.breadcrumb {
  margin-top: 20px;
  padding: 10px 16px;
  list-style: none;
  background-color: rgb(170, 170, 170);
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #2e8fe4;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #6117c2;
  text-decoration: underline;
}