/* 
Colors I used:
RGB 213, 0, 50 - UIC RED
RGB 0, 181, 226 - UIC CYAN
RGB 0, 30, 98 - UIC NAVY-BLUE
*/

button {
  background-color: rgb(0, 30, 98);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%; /* This is here since it doesn't seem to work in test_button */
  max-width: 500px
}

#test_button {
  width: 100%; /* This doesn't work for some reason */
}
#test_button:hover {
  background-color: rgb(42, 91, 206);
}

#about_button {
  width: 25%;
  background-color: rgb(165, 2, 2);
}
#about_button:hover {
  background-color: rgb(228, 49, 49);
}

body {
}

#intro {
  font-family: Arial;
  font-size: 64px;
  text-align: center;
}

#question {
  font-size: 64px;
}
